/*bases---------------------------*/
*{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
}
/*variable ---------------------------*/

/*typographies---------------------------*/


.barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-condensed-extralight {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-condensed-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-medium {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-condensed-semibold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-condensed-extrabold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-condensed-black {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-condensed-thin-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-condensed-extralight-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-condensed-light-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-condensed-regular-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-condensed-medium-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-condensed-semibold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-condensed-bold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-condensed-extrabold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-condensed-black-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/*Design de la page---------------------------*/

.h100{
    min-height: 100vh;
    min-height: 100svh;
}

.sec1{
    
    
    display: flex;
    justify-content: center;
    
    
    align-items: center;
    background-size: cover;
}
.vidéo {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}



.card1{
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 0, 255, 0.344);
    padding-right: 200px;
    padding-left: 100px;
    border-radius: 30px;
    border:2px solid;color: yellow;
   
}

.titre{
    font-family: "Barlow Condensed", sans-serif;
    size: 400px;
    font-style: italic;
    color: aliceblue;
    padding-left: 200px;
    font-size: 100px;
    
}

.titre1{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 2500;
    font-style: italic;
    color: aliceblue;
    padding-bottom: 50px;
    padding-left: 200px;
    font-size: 70px;

}

.t1{
  color: yellow;
  font-size: 30px;
}
.t2{
  color: yellow;
}
.t3{
  color: aliceblue;
}





#sec2{
    
    background-image: url(asset/image/fond\ de\ sequence\ 2.jpg);
    display: flex;
    justify-content:space-around ;
    align-items: center;
    flex-direction: column;
    
}

.card2{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: rgba(255, 0, 255, 0.344); 
    margin-bottom: 100px;
    border:2px solid;color: yellow;
    
    
}

.t1sc2{
  color:yellow
}
.t2sc2{
  color: white;
}

.boxAllSkin{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 250px;
  gap: 40px;
}


.boxkayn{
  width: 180px;
  height: 400px;
  background-color: rgba(127, 255, 212, 0.429);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  border-radius: 15px;
  border:2px solid;color: yellow;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

}


.imgkayn{
  width: 150px;
  height: 200px;
  padding-top: 20px;
  border-radius: 20px;
  
}

.boxezreal{
  width: 180px;
  height: 400px;
  background-color: rgba(211, 0, 0, 0.235);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  border-radius: 15px;
  border:2px solid;color: yellow;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

}

.imgezreal{
  width: 150px;
  height: 200px;
  padding-top: 20px;
  border-radius: 20px;
  
}


.boxsett{
  width: 180px;
  height: 400px;
  background-color: rgba(53, 7, 133, 0.279);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  border-radius: 15px;
  border:2px solid;color: yellow;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

}

.imgsett{
  width: 150px;
  height: 200px;
  padding-top: 20px;
  border-radius: 20px;
  
}

.boxyone{
  width: 180px;
  height: 400px;
  background-color: rgba(224, 1, 231, 0.366);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  border-radius: 15px;
  border:2px solid;color: yellow;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

}

.imgyone{
  width: 150px;
  height: 200px;
  padding-top: 20px;
  border-radius: 20px;
  
}

.boxksante{
  width: 180px;
  height: 400px;
  background-color: rgba(133, 87, 7, 0.284);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  border-radius: 15px;
  border:2px solid;color: yellow;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

}
.imgksante{
  width: 150px;
  height: 200px;
  padding-top: 20px;
  border-radius: 20px;
  
}

.boxaphelios{
  width: 180px;
  height: 400px;
  background-color: rgba(1, 49, 128, 0.286);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  border-radius: 15px;
  border:2px solid;color: yellow;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

}

.imgaphelios{
  width: 150px;
  height: 200px;
  padding-top: 20px;
  border-radius: 20px;
  
}


.sec3{
    
    background-image: url(asset/image/fond\ séquence\ 3!.jpg);
    display: flex;
    flex-direction: column;
    
    
}

.box1s3{
  display: flex;
  justify-content: space-between;
  align-items:start ;
  flex-direction: row;
  gap: 20px;
  
  width: 100%;
  height: 400px;
  margin-top: 40px;
  
  


}

.card3{
  width: 200px;
    height: 250px;
  
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: column;
  background-color: rgba(137, 43, 226, 0.277);
  gap: 30px;
  margin-left: 35px;
}

.imgezchante{
  width: 120px;
  height: 140px;
}

.ts32{
  color: yellow;
}



.card4sc3{
  width: 200px;
    height: 200px;
  
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: column;
  background-color: rgb(43, 128, 226);
  gap: 30px;

}


.card5sc3{

  width: 200px;
    height: 200px;
  
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: column;
  background-color: rgb(226, 43, 61);
  gap: 30px;
  margin-right: 35px;

}


.box2s3{
  display: flex;
  justify-content: space-between;
  align-items:flex-end ;
  flex-direction: row;
  gap: 20px;
  background-color: rgb(157, 0, 255);
  width: 100%;
  height: 400px;

}
















.sec4{
    
    background-color: rgb(138, 42, 206);
    display: flex;
    justify-content:center ;
    align-items: center;
}







.card4{
    width: 200px;
    height: 200px;
    background-color: rgb(58, 184, 117);
}